.content {
  padding: 9rem 9rem 3rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  padding-top: 10px;
  color: var(--txt);
  font-size: 6vw;
  font-weight: 200;
}

.filesImg {
  width: 30%;
  min-width: 120px;

  img {
    width: 100%;
    height: auto;
    display: flex;
  }

  .hero-svg2 {
    fill: #3f5228;
  }
}

.pdfWrapper {
  width: 100%;
  padding: 1rem 0;
}

.downloadText {
  margin-left: 8px;
  text-transform: uppercase;
}
.filename {
  padding-top: 3px;
  text-transform: uppercase;
  font-size: 12px;
}
.form{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: linear-gradient(115.78deg, rgba(255, 255, 255, 0.4) 3.1%, rgba(255, 255, 255, 0.1) 71.8%);
  box-shadow: 0px 4px 7px 15px rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  width: 90vw;
}
.contact{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem;
}
.inputs{
  height: 6vh;
  width: 80vw; 
  background: rgba(21, 59, 34, 0.4);
  box-shadow: inset 0px 4px 11px 6px rgba(0, 0, 0, 0.25);
  border-radius:12px;
  display: block;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.contact textarea{
  width: 80vw; 
  background: rgba(21, 59, 34, 0.4);
  box-shadow: inset 0px 4px 11px 6px rgba(0, 0, 0, 0.25);
  border-radius:12px;
}
::placeholder {
  color:rgba(255, 255, 255, 1);
  font-size: 1.2em;
  padding-left: 1rem;
  font-weight: 6rem;
}
#message{
  background: #3f52285e;
  box-shadow: inset 0px 4px 11px 6px rgba(0, 0, 0, 0.25);
  border-radius: 19px;
  font-size: 20px;
  color: #ffffff;
  display: block;
  margin: auto;
}
.btnSubmit{
  width: 30vw; max-width: 40vw;
  height: 6vh;
  background: #3f5228;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: block;
  margin: auto;
  margin-top: 1rem;
  font-size: 20px;
  color: white;
} 


@media (max-width: 600px) {
  .header {
    padding-bottom: 10px;
  }
  .title {
    font-size: 3rem;
  }

  .pdfWrapper {
    width: 100%;
    padding: 2rem 0;
  }
}

@media (max-width: 925px) {
  .content {
    padding: 9rem 3rem 1rem;
  }
  .title {
    font-size: 4rem;
  }
}